
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>HousemeetsU (Buyer Sign Up)</h1>

<p><a href="/homepage">Homepage</a></p>

<form method="POST" action="/addBuyer">
  <fieldset>
  <legend>New User Information:</legend>
  <br>User's Name:<br>
  <input type="text" name="b_username">
  <br>Password:<br>
  <input type="text" name="b_password">
  <br>Email:<br>
  <input type="text" name="b_email">
  <br><br>
  <input type="submit" value="Submit/addBuyer">
</fieldset>
</form>

</body>

</html>
