
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>HousemeetsU (Seller Sign Up)</h1>

<p><a href="/homepage">Homepage</a></p>

<form method="POST" action="/addSeller">
  <fieldset>
  <legend>New User Information:</legend>
  <br>UserName:<br>
  <input type="text" name="s_username">
  <br>Password:<br>
  <input type="text" name="s_password">
  <br>Email:<br>
  <input type="text" name="s_email">
  <br>PhoneNumber:<br>
  <input type="text" name="phone_number">
  <br><br>
  <input type="submit" value="Submit/addSeller">
</fieldset>
</form>

</body>

</html>
