
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>HousemeetsU (Login)</h1>

<p><a href="/homepage">Homepage</a></p>

<form method="POST" action="/Login">
  <fieldset>
  <legend>User Login:</legend>
  <br>User's Name:<br>
  <input type="text" name="username">
  <br>Password:<br>
  <input type="text" name="password">
  <br>I am a:<br>
  <select name="identity">
    <option value="Buyer">Buyer</option>
    <option value="Seller">Seller</option>
  </select>
  <br><br>
  <input type="submit" value="Log In">
</fieldset>
</form>

</body>

</html>
